language: c
matrix:
  - compiler: gcc
  - compiler: clang
  - compiler: gcc
    env: TARGET=windows-x86_64
before_install:
  - sudo apt-get -qq update
install:
  - sudo apt-get -qq install rake bison git gperf
before_script:
  - cd ../
  - git clone --branch=2.0.1 --depth=1 https://github.com/mruby/mruby.git
  - cd mruby
  - cp -fp ../mruby-file-stat/.travis_build_config.rb build_config.rb
script:
  - |-
    if [[ $TARGET == "windows-x86_64" ]]; then
      docker run -it -v "$(cd ..; pwd):/root" -w "/root/mruby" \
        --env TARGET hone/mruby-cli rake all
    else
      ruby minirake all test
    fi
